// The default colors for the app

$theme--color-main: #42b983;
$theme--color-secondary: #2c3e50;
$theme--color-white: #fff;

$theme--spacing-s: .5rem;
$theme--spacing-m: 1rem;
$theme--spacing-l: 1.5rem;
$theme--spacing-xl: 2rem;
